<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>
    <%=title%>
  </title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link
    href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"
    rel="stylesheet">
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/stylesignup.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>

<body>
  <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <%for(i=0;i<nav.length;i++){%>
            <li>
              <a href="<%=nav[i].link%>">
                <%=nav[i].name%>
              </a>
            </li>
            <%}%>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">

            <ul class="dropdown-menu" style="padding:12px;">
              <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right"><i
                    class="glyphicon glyphicon-search"></i></button><input
                  type="text" class="form-control pull-left"
                  placeholder="Search">
              </form>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>




  <!--/stories-->
  <h1 style="text-align: center;">Sign Up</h1>
  <form  method="POST" action="signup" class="row g-3 mydiv">



    <div class="col -lg-6 col-md-6 col-sm-6 col-6">
      <label for="inputName4" style="color:black" class="form-label">User
        Name</label>
      <input name="username" type="text" class="form-control" required id="inputName4">
    </div>

    <div class="col -lg-6 col-md-6 col-sm-6 col-6">
      <label for="inputEmail4" style="color:black"
        class="form-label">Email</label>
      <input name="email" type="email" class="form-control" required id="email"
        onkeyup="return mailvalidate();">
      <label for="error0" id="error0"></label>
    </div>



    <div class="col -lg-6 col-md-6 col-sm-6 col-6 pwdf">


      <div class="pw-meter mb-3">
        <div class="form-element">
          <label for="password">Password</label>
          <input type="password" required id="password">
          <div class="pw-display-toggle-btn">
            <i class="fa fa-eye"></i>
            <i class="fa fa-eye-slash"></i>
          </div>
          <div class="pw-strength">
            <span>Weak</span>
            <span></span>
          </div>

          <p id="p1">password must contain <span id="eight">8 characters</span>,
            <span id="uc">Uppercase</span>, <span id="lc">Lowercase</span>,
            <span id="num">Number</span> & <span id="sp">special
              character</span>
          </p>

        </div>
      </div>


    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-6 pwdrp">
      <label for="inputPasswordrepeat4" style="color:black" class="form-label"
        id="rptlabel">Repeat Password</label>
      <input name="password" type="password" class="form-control" required id="pwdrpt"
        onkeyup="return pwdrptval();">

      <label for="error" id="error"></label>
    </div>




    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 numb">
                <label for="inputPhone" style="color:black" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="inputPhone" required placeholder="Enter Phone Number"onkeyup="return phonenumber();">
              
                <label for="error1" id="error1"></label>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 addr">
                <label for="inputAddress" style="color:black" class="form-label">Address </label>
                <input type="text" class="form-control" id="inputAddress" required placeholder="Apartment, studio, or floor" >
              </div>
             
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 city">
                <label for="inputCity" style="color:black" class="form-label">City</label>
                <input type="text" class="form-control" required id="inputCity">
              </div>
             
              
              <div class="col-lg-4 col-md-4 col-sm-4 col-4 state">
                <label for="inputState" style="color:black" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli Daman and Diu">Dadar and Nagar Haveli and Daman and Diu </option>
                   
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Kerala">Ladakh</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                    </select>
    
  
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 pin">
                <label for="inputPIN" style="color:black" class="form-label">PIN</label>
                <input type="text" class="form-control" required id="inputPIN"onkeyup="return pin();">
  
                <label for="error2" id="error2"></label>
              </div>
              <div class="col-lg-12 ckb">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" required id="gridCheck">
                  <label class="form-check-label" style="color:black" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 sub">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>



  </form>

  <!--/stories-->




  </div>
  </div>



  </div>
  <!--/col-12-->
  </div>
  </div>


  <hr>

  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">

        <h1>Follow Us</h1>
        <div class="btn-group">
          <a class="btn btn-twitter btn-lg" href="#"><i
              class="icon-twitter icon-large"></i> Twitter</a>
          <a class="btn btn-facebook btn-lg" href="#"><i
              class="icon-facebook icon-large"></i> Facebook</a>
          <a class="btn btn-google-plus btn-lg" href="#"><i
              class="icon-google-plus icon-large"></i> Google+</a>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>

        </div>
        <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at
            <a href="http://www.bootply.com">Bootply</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- script references -->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/signup.js"></script>
</body>

</html>